---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;
               

@include media(">phone", "<tablet") {
    html{
        font-size: 33px;
    }

}

.poem{
    
    p{
        text-align: center;
    }

   
}
#english-version{
    text-align: center;
}

