---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

               

@media only screen and (max-width:600px) {
    html{
        p{
            font-size: 26px;
        }
       
    }

}

.poem{
    
    p{
        text-align: center;
    }

   
}
#english-version{
    text-align: center;
}

